.ProseMirror {
  position: relative;
  min-height: 100%;
  padding: 5px 10px;
  padding-bottom: 2em;
}

.ProseMirror p {
  word-break: break-word;
}

.sidebar.category.title .ProseMirror {
  padding-bottom: 0;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
