.mssgBoardWrapper {
  background-color: #202124;
  width: 70%;
  min-width: 10rem;
  padding: 1rem;
  overflow: scroll;
}

.messageWrapper {
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 2rem;
  min-height: 5rem;
}

.mssgTags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.searchParamsWrapper {
  display: flex;
}

.introText {
  text-align: center;
  padding-top: 5rem;
}

.otherMssgs {
  display: none;
}
